@import "../colors";

.invite-page p {
  font-size: 35px;
  color: $grey;
}

.invite-sitter-name {
  font-weight: bold;
}

.reccur-radio input {
  margin-top: -4px;
  margin-right: 15px;
  margin-left: 40px;
  transform: scale(2);
}

.reccur-radio label {
  color: $pink;
  font-family: "Avenir-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 28px;
}

.selected-sitter {
  font-weight: bold;
}

.invite-address {
  font-family: "Avenir-book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  color: $grey;
  margin-bottom: 0;
  line-height: 120%;
}

.invite-icon {
  flex: 1;
}

.invite-icon svg {
  width: 96px;
  height: 96px;
  margin: 25px auto;
  display: block;
}

.invite-icon svg path {
  fill: $pink;
}

.invite-icon-list {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.invite-header {
  padding: 70px 0 50px 0;
  background: $white;
}

.invite-info {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.reccur-radio {
  display: flex;
  list-style-type: none;
  margin: 10px 0;
  font-family: "Avenir-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  padding: 0;
}

.rec-title {
  font-family: "Avenir-heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: right;
}

.rec-radio {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.child-img {
  border-radius: 50%;
  border: 6px solid $pink;
  margin: 40px 0 24px 0;
}

.child-name {
  color: $very-dark-grey;
  font-size: 45px;
  margin: 0;
}

textarea[name="allergies"] , textarea[name="msg"], input[type="text"], input[type="number"]{
  resize: none;
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  text-indent: 25px;
  padding: 22px 0;
  font-size: 28px;
  color: $dark-grey;
  border: 2px solid $grey;
  margin-bottom: 60px;
}

.invite-page a:hover, .invite-page a:focus{
  text-decoration: none;
  color:$white;
  cursor: pointer;
}



