@import "../colors";

.list-header {
  padding: 0 5.3%;
}

.category {
  padding: 10px 0 30px 0;
}

.list-header-icon {
  width: 96px;
  height: 96px;
}

.list-header-icon path, rect {
  fill: $white;
}

.list-title {
  font-size: 70px;
  color: $white;
}

.list-header-sitters-available-now, .list-header-sitters-favorites {
  background: $baby-blue;
  padding: 5.3%;
}

.list-header-sitters-top-rated, .list-header-sitters-gender {
  background: $pink;
  padding: 5.3%;
}

.list-header-sitters-working-hours, .list-header-sitters-see-all {
  background: $light-green;
  padding: 5.3%;
}
