.list-header {
  padding: 0 5.3%;
}

.category {
  padding: 10px 0 30px 0;
}

.list-title {
  font-size: 70px;
  color: #fff;
}

.list-header-sitters-available-now, .list-header-sitters-favorites {
  background: #87ccfa;
  height: 293px;
  padding: 5.3%;
}

.list-header-sitters-top-rated, .list-header-sitters-gender {
  background: #f7a1a1;
  height: 293px;
  padding: 5.3%;
}

.list-header-sitters-working-hours, .list-header-sitters-see-all {
  background: #88d685;
  height: 293px;
  padding: 5.3%;
}
