#login-form {
  padding-top: 48px;
  text-align: left;
}

.g-signin2 {
  margin: 0 auto;
  width: 120px;
}

.login-title {
  font-size: 35px;
  color: #333;
  margin-bottom: 48px;
}

.login-label {
  color: #f7a1a1;
  font-family: "Avenir-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 28px;
  padding-left: 10%;
}

.login-input-fields {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 0;
}


