#login-form {
  width: 60%;
  margin: 48px auto;
  text-align: center;
}

h1 {
  font-family: "Avenir-book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  color: #727475;
}

.g-signin2 {
  margin: 0 auto;
  width: 120px;
}