@font-face {
  font-family: "Avenir-heavy";
  src: url("fonts/avenir-lt-std/AvenirLTStd-Heavy.woff");
}

@font-face {
  font-family: "Avenir-heavy-oblique";
  src: url("fonts/avenir-lt-std/AvenirLTStd-HeavyOblique.woff");
}

@font-face {
  font-family: "Avenir-book";
  src: url("fonts/avenir-lt-std/AvenirLTStd-Book.woff");
}

@font-face {
  font-family: "Avenir-Light";
  src: url("fonts/avenir-lt-std/AvenirLTStd-Light.woff");
}